html, body {
	font-family: Tahoma, sans-serif;
    font-size: 14px;
}


#wrapper {
	width: 960px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

#archive {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

#archive ul {
    padding: 0;
    margin: 0;
    float: right;
}

#archive li {
    float: left;
    margin-left: 15px;
    list-style-type: none;
}

#archive li a {
    text-decoration: none;
    color: #333333;
}

.clear {

}

#header {
    padding: 0;
    margin: 0;
    height: 64px;
    background-image: url('images/topnav_divider.png');
}

#header #nav {
    float: left;
}

#nav ul {
    list-style-type: none;
    margin-top: 20px;
    padding-left: 50px;
}

#nav li {
    float: left;
    margin-right: 25px;
}

#nav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}

#header h1 {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-right: 16px;
    color: white;
    float: right;
    font-size: 28px;
}

#content {
    font-size: 14px;
    color: #333333;
}

#content h1 {
    font-size: 24px;
}
