table {
    border-collapse: collapse;
}

thead {
    background-color: green;
}

th {
    color: #FFF;
    text-align: left;
}

tr,td, th {
    padding: 1px 10px
}

td:last-of-type, th:last-of-type {
    border: none;
}

tr:nth-of-type(2n) > td {
    background-color: beige;
}

.country-image {
    width: 25px;
    height: 15px;
    padding-right: 5px;
}
